.userPage {
  background: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  justify-items: end;
  justify-content: end;
  padding: 35px 58px;
}

.group {
  padding-bottom: 40px;
}

.groupElements {
  padding-bottom: 16px;
}
.group,
.groupElements {
  display: flex;
}

.group {
}

.groupKey {
  display: flex;
  font-weight: 500;
  color: var(--primary-text-color);
  width: 150px;
  justify-content: flex-start;
  align-items: flex-start;
}

.groupKey * {
  margin-left: 4px;
}

.groupElements {
  padding-left: 40px;
}

.groupElements span:first-child {
  width: 110px;
  padding-right: 16px;
}
.groupElements span:last-child {
  color: var(--form-label-color);
}
