.phones {
  display: flex;
  align-items: center;
  position: relative;
}

.phones img {
  padding-left: 8px;
  position: absolute;
  top: 34px;
}

.label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--form-label-color);
  padding-bottom: 4px;
}
