.datePicker {
  width: 227px;
  height: 40px;
  background: #ffffff;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  padding: 8px;
}

.label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--form-label-color);
  padding-bottom: 4px;
}
