.wrapper {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.wrapper span {
  display: inline-block;
  padding: 12px 0px 12px 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 300px;

  color: #657c9a;
}
.wrapper input {
  display: none;
}

.checkbox {
  width: 13px;
  height: 13px;

  background: #ffffff;
  border: 1px solid #c1cfe0;
  box-sizing: border-box;
  display: inline-block;
  transition: background 0.2s linear;
}
.wrapper input:checked + .checkbox {
  background: #4e86e4;
  border: 3px solid #c1cfe0;
  box-sizing: border-box;
}
