.rectangle {
  padding: 65px 0;
  width: 970px;
  height: 412px;
  background: var(--background-color);
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: start;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.formWrapper {
  height: 100%;
}
