.userPage {
  background: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 80px;
  justify-items: center;
  padding: 35px 58px;
}

.groupKey,
.groupElements span:first-child {
  display: flex;
  font-weight: 500;
  color: var(--primary-text-color);
  width: 150px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 16px;
}

.groupElements {
  padding-bottom: 16px;
  display: flex;
  padding-left: 40px;
}

.groupElements span:last-child {
  color: var(--form-label-color);
}
