.columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.form {
  padding-top: 65px;
  position: relative;
  width: 970px;
  height: 476px;
  background: var(--background-color);
}

.buttons {
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  bottom: 65px;
  right: 100px;
}

.buttons * {
  margin-left: 150px;
}
