.pp * {
    background: white;
    border: none;
}

.wd {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    text-align: center;

    color: #475666;
}

.day {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    text-align: right;

    color: #475666;
    background-color: #FAFCFF;
    margin: 0

}