.buttons {
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  bottom: 65px;
  right: 100px;
}

.buttons * {
  margin-left: 150px;
}

.buttons span {
  color: var(--finish-color);
  margin-right: -120px;
  margin-bottom: -4px;
}
