.table {
  width: 970px;
}

.table th {
  height: 45px;
  background: var(--primary-color);
  padding: 0;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: white;
}

.empty {
  display: flex;
  height: 430px;
  width: 970px;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty span {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;

  color: var(--action-text-color);

  padding-bottom: 64px;
}

.table tr:nth-child(odd) {
  background-color: var(--select-color);
}

.table td {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  padding: 26px 14px;
  color: #475666;
}
