.label {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--form-label-color);
  padding-bottom: 4px;
}

.wrapper {
  padding-bottom: 24px;
}
