.upload {
  color: var(--action-text-color);
  background: none;
  display: flex;
  align-items: center;
  margin-top: 12px;
  transition: 0.2s;
  font-size: 14px;
}

.upload:hover {
  color: #7c8da3;
}

.upload input {
  display: none;
}

.pressed {
  transform: scale(0.95);
}
.addUserPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addUserPhoto .label {
  padding-top: 16px;
  display: flex;
  align-items: center;
}

.addUserPhoto div img {
  margin-right: 8px;
}
