.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.page {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  width: 16px;
  color: white;
  padding: 8px;
  margin: 4px;
  transition: 0.2s transform;
}

.active {
  border: 4px solid var(--primary-color);
  color: var(--primary-text-color);
  background-color: white;
  transform: scale(1.2);
}
