.button {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
}

.primary {
    padding: 12px 24px;
    background: #5E97F3;
    color: white;
}

.secondary {
    padding: 12px 24px;
    background: #C1CFE0;
    color: white;
}

.text {
    padding: 0;
    color: #9BB0CB;
    background: none;
}