.label {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--form-label-color);
  padding-bottom: 4px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 4px;
}

.wrapper {
  display: inline-block;
}
