.textarea {
  display: block;
  resize: none;
  width: 300px;
  height: 130px;
  background: #ffffff;
  border: 1px solid #c1cfe0;
  box-sizing: border-box;
  padding: 8px;
  font-weight: bolder;
  font-size: 14px;
  line-height: 20px;
}

.InputField {
  display: block;
  padding-bottom: 24px;
}
