.inputField input {
  display: block;

  width: 300px;
  height: 40px;

  background: #ffffff;
  box-sizing: border-box;
  padding: 8px;
}

.inputField {
  display: block;
  padding-bottom: 24px;
}

.noError {
  border: 1px solid var(--secondary-color);
}
.errorField {
  border: 1px solid #eb5757;
}

.inputWrapper {
  position: relative;
}

.inputWrapper button {
  position: absolute;
  top: 12px;
  right: 8px;
}
