.inputField input {
  display: block;

  width: 400px;
  height: 40px;

  background: #ffffff;
  box-sizing: border-box;
  padding: 8px;
}

.inputField {
  display: block;
  padding-bottom: 24px;
}

.inputField span {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--form-label-color);
  padding-bottom: 4px;
}
.noError {
  border: 1px solid var(--secondary-color);
}
.errorField {
  border: 1px solid #eb5757;
}
.error {
  color: red;
  font-size: 9px;
  padding-left: 16px;
}

.inputWrapper {
  position: relative;
}

.inputWrapper button {
  position: absolute;
  top: 12px;
  right: 8px;
}
