.form {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
}

.form label:first-child {
  padding-top: 0;
}

.button {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.addUserPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  position: relative;
}
