.radioGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 0;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
}

.radioGroup input {
  display: none;
}

.radioGroup label {
  padding-right: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;

  color: var(--form-label-color);
}
.radio {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;

  margin: 4px;

  background: #ffffff;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;

  transition: background-color 0.2s linear;
  cursor: pointer;
}

.radioGroup input:checked + .radio {
  background: var(--primary-color);
  border: 3px solid var(--secondary-color);
  box-sizing: border-box;
}

.radioGroup input:checked ~ span {
  font-weight: bolder;
}
