.wrapper {
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
}

.searchBar {
  display: block;

  width: 300px;
  height: 40px;

  background: #ffffff;
  box-sizing: border-box;
  padding: 8px;
  border: 4px solid var(--primary-color);
  border-radius: 10px;
  outline: none;
}

.clearButtonWrapper {
  position: absolute;
  right: 16px;
  top: 20px;
}
