.avatar {
    width: 171px;
    height: 171px;
    border: 3px solid #5E97F3;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    margin-top: 20px;
    height: 100%;
}