:root {
  --primary-color: #4E86E4;
  --secondary-color: #C1CFE0;
  --select-color: #E7F0FF;
  --finish-color: #4EE4A5;
  --action-text-color: #9BB0CB;
  --form-label-color: #657C9A;
  --primary-text-color: #475666;
  --background-color: #FAFCFF;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

