.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  height: 100%;
}

.column {
  position: relative;
  height: 100%;
}

.checkboxLabel {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--form-label-color);
  padding-bottom: 4px;
}
.buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}
