.input {
  display: block;

  width: 300px;
  height: 40px;

  background: #ffffff;
  box-sizing: border-box;
  padding: 8px;
}

.noError {
  border: 1px solid var(--secondary-color);
}
.errorField {
  border: 1px solid #eb5757;
}

.wrapper {
  padding-bottom: 20px;
}

.label {
  font-size: 14px;
  line-height: 16px;
  color: var(--form-label-color);
  padding-bottom: 8px;
}
